//constante
$police : "General Sans Variable";
$background : #D6E6D4;
$foreground : #A20C0C;

*{
    background-color: $background;
    color: $foreground;
    box-sizing: border-box;
}

.about{
    display: flex;
    margin-left: 132px;
}

.titre{
    display: flex;
    width: 516px;
    height: 122px;
    margin-top: 38px;
    font-size: 5em;
    font-weight: 300;
}

/* === RESPONSIVE ABOUT === */
@media screen and (max-width: 900px) {
    .about {
        margin-left: 0;
        justify-content: center; /* Centre le titre */
        padding: 0 20px;
    }
    
    .titre {
        font-size: 3em; /* Titre plus petit */
        width: auto;
        height: auto;
        text-align: center;
    }
}