//constante
$police : "General Sans Variable";
$background : #D6E6D4;
$foreground : #A20C0C;

*{
    background-color: $background;
    color: $foreground;
    box-sizing: border-box;
}

.about{
    display: flex;
    margin-left: 116px;
}

.titre{
    display: flex;
    width: 516px;
    height: 122px;
    margin-top: 38px;
    font-size: 90px;
    font-weight: 400;
}

.nom_prenom{   
    margin-left: 118px;
    .nom_prenom1{
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: -40px;
} 

}

.info{
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 583px;
    margin-left: 250px;
    margin-top: -60px;
}

.rectangle{
    width: 560px;
    height: 400px;
    background: #D9D9D9;
    margin-left: 840px;
    margin-top: -340px;
}


/* === RESPONSIVE ABOUT === */
@media screen and (max-width: 900px) {
    .about {
        margin-left: 0;
        justify-content: center; /* Centre le titre */
        padding: 0 20px;
    }
    
    .titre {
        font-size: 3em; /* Titre plus petit */
        width: auto;
        height: auto;
        text-align: center;
    }
}