//constante
$police : "General Sans Variable";
$background : #D6E6D4;
$foreground : #A20C0C;

*{
    background-color: $background;
    color: #A20C0C;
}

.contact{
    display: flex;
    margin-left: 132px;

}
.titre{
    display: flex;
    width: 516px;
    height: 122px;
    margin-top: 38px;
    font-size: 5em;
    font-weight: 300;
}

//texte infos
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
    line-height: 1.3;
    gap: 16px;
}

// Réduit l'espacement vertical entre les éléments de texte
.info > * {
    margin: 4px 0;
}

.info{
    .mail{
    width: 194px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: lowercase;
    }

    .num{
    width: 116px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-transform: lowercase;
    }

    .adresse{
    width: 243px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-transform: lowercase;
    }
}


//réseaux
.réseaux{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 16px;
    line-height: 1.3;
    gap: 16px;
    margin-top: 26px;
    margin: 24px;
}

//formualaire
$font: "General Sans Variable", Arial, sans-serif;

.formulaire {
  background-color: $background;
  display: flex;
  font-family: $font;
  color: $foreground;
  width: 100%;
  max-width: 900px;
  padding: 60px 20px;
  width: 703px;
  height: 415px;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 50px;
  }

  p {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-transform: none;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid $foreground;
    padding: 10px 0;
    font-size: 16px;
    color: $foreground;
    outline: none;
    font-family: $font;
  }

  textarea {
    resize: none;
    height: 120px;
  }

  /* Champs pleine largeur */
  .email,
  .message {
    grid-column: span 2;
  }

  /* Bouton */
  .envoyer {
    grid-column: span 2;
    margin-top: 20px;

    input {
      width: fit-content;
      padding: 6px 14px;
      border: 2px solid;
      background: transparent;
      cursor: pointer;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

.contact-right{
    display: block;
}

//footer
.footer button{
    display: flex;
    height: 24px;
    background: none;
    border: none;
    font-weight: 700;
}

/*footer fr/en*/
.footer button{
    display: flex;
    height: 24px;
    background: none;
    border: none;
    font-weight: 700;
}